$primayColor  : black;

body{
    .profile-changes{
        display:flex;
        flex-direction: column;
        
        input{
            width: 30vw;
            margin-bottom: 20px;
        }

    }
 
    .main_profile_div{
        margin-top:4px;
        margin-left: 4vw;
        .upper_div{
           
             .addSkills{
                 .listGroup{
                     margin-top: 10px;
                    p{
                        font-size: 20px;
                        font-weight: bolder;
                        line-height: 15px;
                        text-transform: capitalize;
                    }
                 }
             }
            
            .userProfile{
            
                display: flex;
                flex-direction: row;

                i{
                    position: absolute;
                    top:40%;
                    left:20%;
                    font-size: 40px;;
                }
                .profile_pic{
                   
                 
                    margin-right: 30px;
                }
                .student-details{
                    margin-top:10px;
                    justify-content: flex-start;
                    text-align: left;
                    font-size:3vh;
                    font-weight: bolder;
                    text-transform: capitalize;
                    font-family:Georgia, 'Times New Roman', Times, serif;
                }
                img{
                    width: 13vw;
                    height: 13vw;  
                    border-radius: 50%;
                    display: block;
                    object-fit: cover;

                }
              
            }
        }

        .scrollbar{
            margin-top: 20px;
            width: 40vw;
            display: flex;
            flex-direction: row;
            width: 95%;
            justify-content: space-between;
            font-size: large;
            font-weight: bolder;
            border-bottom:  1px solid grey ;
            
        }
        .scrollbar div:hover{
            background-color: black;
            color: white;
        }
    }
   
    legend{
        font-weight: bold;
        margin-top:10px;
        margin-bottom:10px;
    }
    input{
       margin-bottom: 5px; 
    }
    :root {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .tags-input {
        border: 1px solid #333;
        display: inline-block;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        justify-content: flex-start;
         text-align: left;
    }
    
    .tags-input .tag {
        font-size: 85%;
        padding: 0.5em 0.75em;
        margin: 0.25em 0.1em;
        display: inline-block;
        background-color: #ddd;
        transition: all 0.1s linear;
        cursor: pointer;
    }
    
    .tags-input .tag:hover {
        background-color: #3af;
        color: white;
    }
    
    .tags-input .tag .close::after {
        content: '×';
        font-weight: bold;
        display: inline-block;
        transform: scale(1.4);
        margin-left: 0.75em;
    }
    
    .tags-input .tag .close:hover::after {
        color: red;
    }
    
    .tags-input .main-input {
        border: 0;
        outline: 0;
        padding: 0.5em 0.1em;
    }
   
}


$breakpoint-tablet: 610px;
@media (max-width: $breakpoint-tablet) { 
   .upper_div{
       display: flex;
       flex-direction: column;
       align-items: flex-start;

       .addSkills{
       
        margin-top:5vh;
    }
       .userProfile{
          
             display:disabled ;
           h2{
               margin-top: 2vh;
           }
       }
   }
  }

  @media(max-width:900px){
    .upper_div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
         .addSkills{
                 margin-top: 5vh;

         }
        .userProfile{
           
            h2{
                margin-top: 2vh;
            }
        }
    }
   }
 
  

  @media (min-width:900px) { 
      body{
        .main_profile_div{
            margin-top:4vh;
            margin-left: 8vw;
            .upper_div{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .addSkills{
                    margin-right: 15vw;
                    .listGroup{
                        margin-top: 3vh;
                        margin-right: 10px;;
                        p{
                            font-size: 20px;
                            font-weight: bolder;
                        }
                    }
                }
                .userProfile{
                   
                    display: flex;
                    flex-direction: row;
                    h2{
                        margin-top: 10vh;
                    }
                }
        
            }
          }
          .scrollbar{
            margin-top: 20px;
            width: 20vw;
            display: flex;
            flex-direction: row;
            font-size: larger;
            font-weight: bolder;
          
        }
        .Doubts_div{
            width: 40vw;
            height: auto;
            background-color: wheat;

        }
      }
     
   
   }