<!DOCTYPE html>
<html>
    <head>
        <body>
            <form action="admin/problemset" method="POST">
                 <input type="text" name="problemcode" placeholder="Problem Code">
                <hr/>
                 <textarea name="problemtext" id="problemtext" placeholder="Problem Statement" style="color:white;background-color: black;height: 400px; width:800px ;margin-left: 300px;"></textarea>
                <br>
                   <textarea name="input" id="input" cols="30" placeholder="Input" rows="10" style="color:white;background-color: black;height: 400px; width:800px ;margin-left: 30px;" ></textarea>
                 <br>
                  <textarea name="output" id="" cols="30" placeholder="Output" rows="10" style="color:white;background-color: black;height: 400px; width:800px ;margin-left: 30px;"></textarea>
                 <input type="submit" value="submit">
                
            </form>
        </body>
    </head>
</html>